@media only print {
  
  html, body {
    height: auto;
    margin: 0;
  }
  
  .d-print-none {
    display: none;
  }
  
  @page {
    size: landscape;
    margin-top: 11mm;
    margin-left: 10mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
  }
  
  .card-div {
    width: 61mm;
    height: 87mm;
    page-break-inside: avoid;
    display: inline-block;
    margin-top: 4mm;
    margin-left: 3mm;
    margin-right: 4mm;
    margin-bottom: 4mm;
  }
  
  .js-results.row {
    display: block !important;
    width: 100%;
    font-size: 0;
  }
}
