@media only print {
  
  html, body {
    height: auto;
    margin: 0;
  }
  
  .d-print-none {
    display: none;
  }
  
  @page {
    size: landscape;
    margin-top: 13.2mm;
    margin-left: 13.5mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
  }
  
  .card-div {
    width: 66.5mm;
    height: 96mm;
    page-break-inside: avoid;
    display: inline-block;
    margin-top: 0mm;
    margin-left: 0mm;
    margin-right: 2.8mm;
    margin-bottom: 0mm;
  }
  
  .js-results.row {
    display: block !important;
    font-size: 0;
  }
}
